In [1]:
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
iris_data = load_iris()

In [3]:
data = pd.DataFrame(iris_data["data"], columns=iris_data["feature_names"])
target = pd.Series(
    [
        iris_data["target_names"][cat_idx]
        for cat_idx in iris_data["target"]
    ],
    dtype="category"
)

data["Species"] = target

features = iris_data["feature_names"]

In [4]:
data.query("Species == 'setosa'").describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.00000,50.000000,50.000000,50.000000
mean,5.00600,3.428000,1.462000,0.246000
std,0.35249,0.379064,0.173664,0.105386
min,4.30000,2.300000,1.000000,0.100000
25%,4.80000,3.200000,1.400000,0.200000
50%,5.00000,3.400000,1.500000,0.200000
75%,5.20000,3.675000,1.575000,0.300000
max,5.80000,4.400000,1.900000,0.600000